.cloudDesignBoxPromotedLinks {
  .cdbsubjecttiles{
    width: 100%;
    display: none;
  }
  div.actionicons .tiles {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display:inline-block;
    padding-right:10px;
    padding-bottom:10px;
  }

  .cdbdescholder{
    background-color:rgba(0,0,0,0.8);   
    display:block;
    position:absolute;
    bottom:0px;
    color:#fff;
    font-size:13px;
    width:100%;
  }
  div.actionicons .tiles a:hover {background-color:#c1c1c1;	}
  div.actionicons .tiles .tilecontent {
    background: #181647;
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: block;
    position:relative;
    background-repeat:no-repeat;
    background-position:center center;
  }
  .row{display: block;}

  @media all
  and (max-width: 790px){
    div.actionicons .tiles .tilecontent {
      background: #0072c6;
      background-repeat:no-repeat;
      background-position:center center;
      min-width:  100px;
      height:100%;
    }
  }
  .tpmouse{
    cursor:pointer;
  }
  .cdbclear{clear:both;}
  a.cdbbutton, a.cdbbutton:visited, a.cdbbutton:hover, a.cdbbutton:active, a.cdbbutton:link {
    margin-top:5px;
    color: white;
    display: inline-block;
    width: auto;
    padding:5px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #0269c3;
    text-decoration: none;
  }
  a.cdbbutton:hover{
    background-color: #0074d9;
  }
  .cdbdescholdertitle{
    display: block;
    padding:15px;
  }
  .tilecontent .cdbdescholderdesc{
    display:none;
    padding:15px;
    padding-top:0px;
    height: 100%;
  }
}